.bookListContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.pageCount {
  margin-top: -5px;
}

.textFieldInput {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bookItem {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 350px;
}

.bookItem:hover {
  transform: translateY(-5px);
}

.bookCover {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookCover img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.bookInfo {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.bookInfo h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  line-height: 1.2em;
  max-height: 2.4em;
}

.bookInfo p {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookInfo a {
  text-decoration: none;
  color: #007bff;
}

.bookInfo a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

@media (max-width: 1200px) {
  .bookGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .bookGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .bookGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .bookGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
