#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.book-list-container {
  text-align: center;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.book-item {
  flex: 0 1 calc(20% - 20px);
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  max-width: 200px;
  height: 350px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
}

.book-item img {
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
  max-height: 180px;
}

.book-item h3 {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  font-size: 14px;
}

.book-item p {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  font-size: 12px;
}
