:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #e3d5b8;
  background-color: #c33740;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #69434a;
  text-decoration: inherit;
}
a:hover {
  color: #69434a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #c33740;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  padding: 0.6em 1.2em;
  margin: 10px;
  background-color: #d7a278;
  color: #69434a;
  border-radius: 4px;
  border: 2px solid #69434a;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #c33740;
  cursor: not-allowed;
  color: #e3d5b8;
  border: 2px solid #69434a;
  border-radius: 4px;
}

button:hover:not(:disabled) {
  background-color: #69434a;
  color: #e3d5b8;
}

button:hover {
  border-color: #d7a278;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* для больших мониторов */
@media (min-width: 2501px) {
  body {
    zoom: 1.2;
  }
}

/* для средних мониторов */
@media (min-width: 1530px) and (max-width: 2500px) {
  body {
    zoom: 0.95;
  }
}

/* для малых мониторов */
@media (max-width: 1529px) {
  body {
    zoom: 0.75;
  }
}
